/*API styles*/
.card__img {
width: 20px;
height: 20px;
cursor: pointer;
padding-left: 10px;
border-radius: 50%;
position: relative;
left:-13px;
  }
  .button__card{
  border-radius:50px;
  background-color:white;
  border: 1px solid white;
  position: relative;
  height: 25px;
  width: 25px;
  top:6px;
  
 
  }
  .weather {
    border-top-left-radius: 10px;
font-family: "Space Mono", monospace;
  font-weight: 400;
  }
  
  .temp {
    border-top-left-radius: 10px;
font-family: "Space Mono", monospace;
  font-weight: 400;
  position: relative;
  bottom: 10px;
  }
  .button__card:hover {
    background-color: rgb(222, 215, 215);
  }
  
  .card {
    margin-top:6px;
    
    border-top: 1px solid var(--orange);
    padding-top: 20px;
    padding: 20px;
    padding-left: 10px;
    
    background-color:#403D39;
    margin-bottom: 20px;
    color:white;
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  }
  .search {
    padding-left: 25%;
  }
  .description, .humidity{
    padding-bottom: 8px;
  }
 input.search-bar  {
border: none;
outline:none;
padding: 0.5em 1em;
border-radius: 18px;
width:calc(100%-100px);
 }
 .city {
 font-size: 15px;
 }
 .weather__img {
  width: 30px;
  height:30px;
  position: relative;
  top: 10px;
  padding-right: 8px;
 }




 
