/*API styles*/
.card__img {
width: 20px;
height: 20px;
cursor: pointer;
padding-left: 10px;
border-radius: 50%;
position: relative;
left:-13px;
@media (max-width: 600px) {
  right:15%;
}
  }
  .button__card{
  border-radius:50px;
  background-color:var(--florawhite);
  border: 1px solid var(--florawhite);
  position: relative;
  height: 25px;
  width: 25px;
  top:6px;
  }
  .button__card:hover{
    color:var(--timberwolf);
  }
  .weather {
    border-top-left-radius: 10px;
font-family: "Space Mono", monospace;
  font-weight: 400;
  }
  .city:hover{
    color:var(--burntsienna);
  }

  .temp {
    border-top-left-radius: 10px;
font-family: "Space Mono", monospace;
  font-weight: 400;
  position: relative;
  bottom: 10px;
  }
  .temp:hover{
    color:var(--burntsienna);
  }
  
  .card {
    margin-top:6px;
    border-top: 1px solid var(--burntsienna);
    padding-top: 20px;
    padding: 20px;
    padding-left: 10px;
    background-color:var(--blackolive);
    margin-bottom: 20px;
    color:var(--florawhite);
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  }
  .search {
    padding-left: 25%;
  }
  

  .description, .humidity{
    padding-bottom: 8px;
  }
  .description:hover{
    color:var(--burntsienna);
  }
  .humidity:hover{
    color:var(--burntsienna);
  }
 input.search-bar  {
border: none;
outline:none;
padding: 0.5em 1em;
border-radius: 18px;
width:calc(100%-100px);
 }
 .city {
 font-size: 15px;
 }
 .weather__img {
  width: 30px;
  height:30px;
  position: relative;
  top: 10px;
  padding-right: 8px;
 }
.wind:hover{
  color:var(--burntsienna);
}



 
