/*Burgermenu styles*/
.hamburger {
    position: fixed;
    color: var(--eerieblack); 
  
    top:8px;
    right:4px;
    padding: 4px;
    border: var(--timberwolf) solid 1px;
    background:var(--burntsienna);
    cursor: pointer;
z-index: 1000;
    @media (max-width: 600px) {
      margin-right: 5px;
      height: 50px;
      width: 50px;
      
      
  }
  }
  .hamburger> .closeIcon {
    display: none;
  }
  .hamburger:hover {
    background-color: var(--timberwolf);
    color: var(--eerieblack);
    @media (max-width: 600px) {
      background-color: var(--timberwolf);
  }
  }
  .header__right-menu {
    position: fixed;
    transition: transform 0.2s;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    list-style: none;
   background-color:var(--florawhite);
   z-index: 1000;
    margin: 0;
    color:var(--florawhite);
    
   
  }
  .header__right-menu a:hover {
    background-color:var(--burntsienna);
    border-radius: 8px;
    color: var(--eerieblack);
  }
  .header__right-menu li {
    display: block;
    font-size: 50px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 8px;
    
    
    color: var(--florawhite);
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        
       padding-top: 50px;
        text-align: center;
        font-size: 30px;
   }
  }
  .showMenu {
    transform: translateY(0);
  }
  .header__right-menu a {
    color:var(--eerieblack);
    text-decoration: none;
   
  }
 
 
  