@import url("burgermenu.css");
@import url("API.css");
:root {
  --orange: #E07A5F ;
  --gray: rgb(107, 106, 106);
  --azure: rgb(240, 255, 255);
  --lightgray:rgb(211, 211, 211);
}
body {
  margin: auto;
  background-color: rgb(244, 244, 245);
}
.container {
  margin: auto;
  max-width: 1200px;
  padding-inline: 1rem;
}
.header {
  background-color: black;
  padding-bottom: 100px;
  color: white;
}
.header__photo {
  width: 170px;
  height: 170px;
  border-radius: 90px;
  border: 3px solid var(--gray);
  margin-top: 20px;
  margin-left: 40px;
}
.header__cv {
  font-size: 30px;
  border: 1px solid var(--gray);
  padding: 4px 50px;
  background-color:var(--orange) ;
  box-shadow: 2px 2px gray;
  text-align: center;
  border-left: none;
  width: 140px;
  position: relative;
  top: 8px;
}
.header__info-paragraph--name {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 20px;
}
.header__info-paragraph--career {
  font-family: "Space Mono", serif;
  white-space: normal;
  position: relative;
  bottom: 57px;
}
h1 {
  border-bottom: 2px solid var(--gray);
  inline-size: 70%;
  row-gap:2px;
  font-family: 'Space Mono', monospace;
  margin-bottom: -2px;
}
h1:hover {
  color:var(--lightblue)
}
.h1, span {
  color: var(--orange)
}
h1>span:hover {
  color: var(--gray);
}
h2 {
  font-family: 'Space Mono', monospace;
  position: relative;
  bottom: 18px;
}
.main {
  display: flex;
  flex-direction:row;
  gap: 48px;
  @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
 }
}
.main__left-menu > span {
  border: 1px solid var(--gray);
  padding: 3px;
  margin-left: 30%;
  padding-top: 3px;
  border-radius: 50% 20% / 10% 40%;
  background-color:gray;
  box-shadow: 2px 2px var(--lightgray);
  padding-right: 20px;
  font-family: 'Space Mono', monospace;
  color:black;
  font-weight: bold;
}
.main__left-menu {
  margin-top: 20px;
  border-radius: 50% 20% / 10% 40%;
}
.menu {
  font-family: "Space Mono", serif;
  font-style: normal;
}
.main__my-info{
background-color:var(--orange);
color:black;
border-top-left-radius: 10px;
border-bottom-right-radius: 40px;
padding-bottom: 20px;
padding-top: 20px;
padding-left: 10px;
}
.main__my-info--zwei {
background-color:var(--orange);
color: black;
border-top-left-radius: 40px;
border-bottom-right-radius: 10px; 
padding-bottom: 20px;
padding-top: 20px;
}
.main__my-info--drei{
  background-color:var(--orange);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 40px;
  margin-top: 15px;
  padding-bottom: 60px;
  padding-top: 20px;
 margin-bottom:-6px;
  padding-left: 10px;
  text-align: justify
 
}
.main__icon {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  position: relative;
  top: 4px;
  
}
.main__more-info {
  display: none;
}
.main__button--about-me {
  text-align: center;
  font-family: 'Space Mono', monospace;
  border-radius: 50% 20% / 10% 40%;
  background-color:gray;
  box-shadow: 2px 2px var(--lightgray);
  border: 1px solid var(--gray);
  margin-left: 25%;
  padding: 6px;
  color: black;
  font-weight: bold;
  font-size:13px;
}
li{
  margin-bottom: 8px;
  padding-bottom: 5px;
  font-family: "Space Mono", serif;
  position: relative;
  bottom: -30px;
  font-style: normal;
  
}

.content__img {
  width:25px;
  height:25px;
  margin-top: 30px;
  margin-right: 8px;
  padding-left: 9px;
  font-family: "Space Mono", serif;
  margin-bottom: -4px;
  font-style: normal;
}
.content__education-section {
border-left: 2px dashed var(--gray);
height: 190px;
position: relative;
left: 4%;
 bottom: 15px;
  
}

.content__language-skills {
  position: relative;
  bottom: 63px;
}
.content__it-expertise {
  position: relative;
  bottom: 129px;
}
.content__it-expertise--span-color{
  background-color: white;
  height: 8px;
  width: 10px;
  border: 1px solid var(--gray);
  display: inline-block;
}
.content__it-expertise--span {
  height: 8px;
  width: 10px;
  background-color: black;
  display: inline-block;
  border: 1px solid var(--gray);
}
.content__language-skills > ul, .content__it-expertise > ul {
  border-left:2px dashed var(--gray);
  position: relative;
  left:4%;
  bottom: 18px;
  height: 190px;
}
.my-documents__paragraph--title {
padding-left:13px ;
font-family: "Space Mono", serif;
font-weight: 400;
font-style: normal;
width: 97%;
text-align: center;
margin-top: 6px;
padding-bottom: 10px;
}
.my-documents__paragraph--title:hover {
  color:gray;
}
.my-documents {
background-color:var(--orange);
border-top-left-radius: 40px;
border-bottom-right-radius: 10px;
padding-bottom: 10px;
color: black;
}
.my-documents__a {
  color: black;
  
}
a:hover {
  color: gray;
}
.my-documents__paragrapg--diplom {
  padding-left: 10px;
}


.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-2 {
  gap: 1rem;
}

.footer {
  padding: 20px;
  background-color: black;
  position: sticky;
}
.footer__icon {
  width: 50px;
  height: 50px;
  padding-left: 5px;
  border-radius: 50%;
}
.footer__icon:hover {
 width: 70px;
 height: 70px;
 color: gray;
 
}
.footer a, .header__right-menu a{
  position: relative;
  left:45%;
  color: black;
  padding-left: 25px;
  @media (max-width: 600px) {
    left:20%;
}
}

