@import url("burgermenu.css");
@import url("API.css");
:root {
  --lightblue: rgb(218, 230, 245);
  --gray: rgb(107, 106, 106);
  --azure: rgb(240, 255, 255);
  --lightgray:rgb(211, 211, 211);
}
body {
  margin: auto;
  background-color: rgb(244, 244, 245);
}
.container {
  margin: auto;
  max-width: 1200px;
  padding-inline: 1rem;
}
.header {
  background-color: var(--lightblue);
  padding-bottom: 100px;
}
.header__photo {
  width: 170px;
  height: 170px;
  border-radius: 90px;
  border: 3px solid var(--gray);
  margin-top: 20px;
  margin-left: 40px;
}
.header__cv {
  font-size: 30px;
  border: 1px solid var(--gray);
  padding: 4px 50px;
  background-color: var(--azure);
  box-shadow: 2px 2px var(--lightgray);
  text-align: center;
  border-left: none;
  width: 140px;
  position: relative;
  top: 8px;
}
.header__info-paragraph--name {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 20px;
}
.header__info-paragraph--career {
  font-family: "Space Mono", serif;
  white-space: normal;
  position: relative;
  bottom: 57px;
}
h1 {
  border-bottom: 2px solid var(--gray);
  inline-size: 70%;
  row-gap:2px;
  font-family: 'Space Mono', monospace;
  margin-bottom: -2px;
 ;
}
h2 {
  font-family: 'Space Mono', monospace;
  position: relative;
  bottom: 18px;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 48px;
  @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
 }
}
.main__left-menu > span {
  border: 1px solid var(--gray);
  padding: 3px;
  margin-left: 30%;
  padding-top: 3px;
  border-radius: 50% 20% / 10% 40%;
  background-color:var(--azure);
  box-shadow: 2px 2px var(--lightgray);
  padding-right: 20px;
  font-family: 'Space Mono', monospace;
}
.main__left-menu {
  margin-top: 20px;
  border-radius: 50% 20% / 10% 40%;
}
.menu {
  font-family: "Space Mono", serif;
  font-style: normal;
}
.main__my-info{
  background-color:var(--lightblue);
  padding-bottom: 30px;
  border-radius: 20px;
  padding-top: 20px;
  padding: 20px;
  padding-left: 10px;
}
.main__icon {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
.main__more-info {
  display: none;
}
.main__button--about-me {
  text-align: center;
  font-family: "Space Mono", serif;
  border-radius: 50% 20% / 10% 40%;
  background-color:var(--azure);
  box-shadow: 2px 2px var(--lightgray);
  border: 1px solid var(--gray);
  margin-left: 30%;
  padding: 6px;
}
li{
  margin-bottom: 8px;
  padding-bottom: 5px;
  font-family: "Space Mono", serif;
  position: relative;
  bottom: -15px;
  font-style: normal;
}

.content__img {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 8px;
  padding-left: 9px;
  font-family: "Space Mono", serif;
  margin-bottom: -3px;
  font-style: normal;
}
.content__education-section {
  border-left: 2px dashed var(--gray);
  height: 170px;
  position: relative;
  left: 4%;
  bottom: 15px;
}
.content__language-skills {
  position: relative;
  bottom: 45px;
}
.content__it-expertise {
  position: relative;
  bottom: 90px;
}
.content__it-expertise--span-color{
  background-color: white;
  height: 8px;
  width: 10px;
  border: 1px solid gray;
  display: inline-block;
}
.content__it-expertise--span {
  height: 8px;
  width: 10px;
  background-color: black;
  display: inline-block;
  border: 1px solid gray;
}
.content__language-skills > ul, .content__it-expertise > ul {
  border-left:2px dashed var(--gray);
  position: relative;
  left:4%;
  bottom: 18px;
  height: 160px;
}
.my-documents__paragraph--title {
  background-image: linear-gradient(gray, azure);
  padding: 8px;
  border-radius: 8px;
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  width: 97%;
 text-align: center;
  border-bottom-right-radius:9px;
  padding-bottom: 10px;
}
.my-documents {
background-color:var(--lightblue);
border-radius: 8px;
padding-bottom: 10px;



}
.my-documents__a {
  color: black;
}
.my-documents__paragrapg--diplom {
  padding-left: 10px;
}


.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-2 {
  gap: 1rem;
}

.footer {
  padding: 20px;
  background-color: var(--lightblue);
  position: sticky;
}
.footer__icon {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}
.footer a, .header__right-menu a{
  position: relative;
  left:50%;
  color: black;
}
